.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 75px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 0.5px solid #4d4d4d;
  background-color: #000;
  color: #fff;
}

.nav-link {
  margin-right: 40px;
  margin-left: 20px;
  padding: 0px;
  color: #fff;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.brand {
  width: 80px;
  height: 60px;
  margin-top: 5px;
  padding-bottom: 0px;
  background-image: url('../images/doggo.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-left-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-right-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  overflow: visible;
  border-style: none;
  border-width: 5px;
  border-color: #4d4d4d;
  font-family: Mulish, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.home-first-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  min-height: 70px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 100px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #4d4d4d;
  background-color: #000;
}

.half-left.half {
  display: block;
  width: 50%;
  height: 100%;
  padding-left: 0px;
}

.half-left.half.first-section {
  padding-top: 69px;
  padding-left: 0px;
}

.half.half-right {
  overflow: hidden;
  padding-right: 0px;
}

.half.half-left {
  padding-left: 40px;
}

.half-right.half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 40px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.half-right.half.purchase {
  padding-top: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.home-second-section {
  display: inline-block;
  height: auto;
  padding: 20px 0px 40px;
  border-bottom: 1px solid #4d4d4d;
  background-color: #000;
  -webkit-column-count: 3;
  column-count: 3;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-block {
  color: #fff;
  font-size: 0.9em;
}

.media-header {
  margin-top: 20px;
  padding-top: 0px;
  font-size: 0.8em;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  margin-top: 10px;
  margin-right: 10px;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.image:hover {
  opacity: 0.3;
}

.text-block-3 {
  margin-top: 10px;
  font-size: 0.8em;
}

.image-wrapper {
  display: block;
  height: auto;
  min-height: 100%;
  padding-bottom: 20px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-item {
  width: 100%;
  max-width: none;
  margin: 10px 5px 5px;
  cursor: pointer;
}

.music-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  min-height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.music-section-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  min-height: 100vh;
  min-width: auto;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}

.div-block-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 0px;
  grid-template-areas: ". Area";
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 0px auto;
  grid-template-rows: auto auto;
}

.music-page-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.div-block-3 {
  display: -ms-grid;
  display: grid;
  margin-top: 35px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.music-header {
  text-align: left;
}

.heading-3 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
}

.heading-4 {
  width: 30%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fffdfd;
  font-size: 1.2em;
  font-weight: 300;
}

.music-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
}

.image-3 {
  margin-left: 10px;
}

.spotify-icon {
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
  cursor: pointer;
}

.spotify-icon:hover {
  opacity: 0.3;
}

.youtube-icon {
  margin-left: 10px;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
  cursor: pointer;
}

.youtube-icon:hover {
  opacity: 0.3;
}

.item-date {
  width: 30%;
  font-size: 1em;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
}

.item-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #333;
}

.text-block-4 {
  width: 30vw;
}

.item-title {
  width: 30vw;
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

.text-block-5 {
  width: 30vw;
}

.text-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-field {
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
}

.submit-button {
  height: 100%;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  color: #000;
  font-size: 0.7em;
  text-align: center;
}

.submit-button:hover {
  border-style: solid;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

.div-block-7 {
  overflow: visible;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 0px;
}

.item-stream-symbol {
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.item-stream-symbol:hover {
  opacity: 0.3;
}

.large-music-item {
  min-height: 100vh;
  min-width: auto;
}

.image-4 {
  width: 100%;
}

.full-size-music-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 0.5px;
  border-color: #000 #4d4d4d #4d4d4d #4d4d4d;
}

.body-2 {
  font-family: Mulish, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.full-size-music-item-text {
  width: 100%;
  text-align: left;
}

.heading-5 {
  font-size: 2.5em;
}

.text-block-7 {
  color: #fff;
}

.logo-container {
  margin-top: 10px;
}

.image-5 {
  margin-right: 10px;
  margin-left: 0px;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.image-5:hover {
  opacity: 0.3;
}

.full-page-music-section-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #4d4d4d;
}

.body-3 {
  background-color: #000;
  font-family: Mulish, sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.shop-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.music-navbar-item {
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  font-size: 1.2em;
  cursor: pointer;
}

.music-navbar-item:hover {
  opacity: 0.4;
}

.music-navbar-item.selected {
  opacity: 0.3;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px none #4d4d4d;
}

.section {
  overflow: visible;
  height: 110vh;
  padding-right: 40px;
  padding-left: 40px;
}

.div-block-11 {
  display: -ms-grid;
  display: grid;
  height: 90%;
  margin-top: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2 Area-3" "Area-6 Area-5 Area-4" "Area-7 Area-8 Area-9";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
}

.heading-6 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 0.9em;
  text-align: left;
  text-decoration: none;
}

.shop-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.shop-item-description-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 20%;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.shop-item-image {
  width: 70%;
}

.text-block-8 {
  color: #4d4d4d;
  font-weight: 300;
  text-align: center;
}

.shop-item-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area Area-2" "Area-4 Area-3";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.div-block-12 {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.music-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 13px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 13px auto;
  grid-template-rows: auto auto;
}

.div-block-13 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2.75fr 1fr 1fr 0.5fr;
  grid-template-columns: 2.75fr 1fr 1fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-13.music-item {
  margin-bottom: 40px;
  -ms-grid-columns: 2.75fr 1fr 1fr 0.5fr;
  grid-template-columns: 2.75fr 1fr 1fr 0.5fr;
}

.div-block-14 {
  color: #fff;
  font-size: 1.4em;
}

.image-6 {
  margin-left: 20px;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.image-6:hover {
  opacity: 0.3;
}

.body-4 {
  background-color: #000;
  font-family: Mulish, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.video-section {
  overflow: visible;
  width: 100vw;
  min-height: 120vh;
  padding-right: 20px;
}

.video-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  min-height: 90%;
  margin-bottom: 40px;
}

.div-block-15 {
  width: 80%;
}

.heading-7 {
  margin-bottom: 20px;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.image-7 {
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.image-7:hover {
  opacity: 0.3;
}

.html-embed {
  width: 100%;
}

.text-block-11 {
  margin-top: 40px;
  color: #4d4d4d;
}

.heading-8 {
  margin-top: 60px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.heading-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-left: 50px;
  justify-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.75fr 1fr 1.25fr 1fr;
  grid-template-columns: 1.75fr 1fr 1.25fr 1fr;
  -ms-grid-rows: auto minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr) minmax(auto, 1fr) auto;
  grid-template-rows: auto minmax(100px, 1fr) minmax(100px, 1fr) auto minmax(100px, 1fr) minmax(auto, 1fr) auto;
}

.discography-header {
  font-size: 1em;
  font-weight: 300;
}

.discography-header.third-column {
  display: block;
  overflow: visible;
}

.discography-grid-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.discography-title-font {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.discography-inactive-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
  font-weight: 400;
}

.discography-inactive-text.third-column {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.image-8 {
  width: 30px;
  height: 30px;
}

.discography-stream-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 0px;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: not-allowed;
}

.discography-stream-icon:hover {
  opacity: 0.4;
}

.link-block {
  display: none;
}

.text-block-12 {
  position: absolute;
  top: 0px;
  display: block;
}

.div-block-19 {
  position: relative;
}

.body-5 {
  background-color: #000;
  font-family: Mulish, sans-serif;
  color: #fff;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 3em;
  cursor: auto;
}

.back-button {
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}

.back-button:hover {
  opacity: 0.4;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.image-9 {
  width: 100%;
}

.heading-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fffefe;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.heading-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #4d4d4d;
  font-size: 1.5em;
  font-weight: 300;
}

.paragraph {
  margin-top: 40px;
  color: #4d4d4d;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}

.link-block-2 {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .nav-link {
    font-size: 0.8em;
  }
  .brand {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
  }
  .container {
    width: 100vw;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .home-first-section {
    height: 70vh;
  }
  .half.half-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .half-right.half {
    padding-top: 20px;
  }
  .home-second-section {
    position: static;
    min-height: 100vh;
    padding-right: 20px;
    -webkit-column-count: auto;
    column-count: auto;
    -webkit-column-gap: 0px;
    column-gap: 0px;
  }
  .heading {
    margin-top: 60px;
    font-size: 3em;
  }
  .text-block {
    margin-top: 10px;
    font-size: 1em;
  }
  .media-header {
    margin-top: 0px;
    font-size: 1.1em;
  }
  .nav-menu {
    position: static;
    width: 100vw;
    height: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .image {
    width: 40px;
    height: 30px;
    -webkit-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
    cursor: pointer;
  }
  .image:hover {
    opacity: 0.3;
  }
  .media-section {
    margin-top: 40px;
  }
  .image-2 {
    width: 85%;
  }
  .image-wrapper {
    position: static;
    width: 100%;
    min-width: 100%;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .image-item {
    display: block;
    max-width: 100%;
    margin: 0px 10px 10px 0px;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
  }
  .music-section {
    margin-top: -5px;
  }
  .music-page-container {
    width: 100vw;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .music-item {
    margin-top: 40px;
  }
  .div-block-4 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .youtube-icon {
    margin-left: 0px;
  }
  .item-date {
    font-size: 1.1em;
  }
  .item-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.3em;
  }
  .div-block-7 {
    -webkit-column-count: 3;
    column-count: 3;
  }
  .full-size-music-item {
    height: auto;
    min-height: 100vh;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
  }
  .heading-6 {
    text-align: left;
  }
  .div-block-12 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .heading-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .home-first-section {
    height: auto;
    min-height: 70px;
    padding-bottom: 40px;
  }
  .half.half-right {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .half-right.half {
    padding-top: 69px;
  }
  .home-second-section {
    padding-top: 20px;
  }
  .heading {
    font-size: 5em;
  }
  .text-block {
    margin-top: 19px;
    font-size: 1.5em;
  }
  .media-header {
    margin-top: 0px;
    font-size: 1.2em;
  }
  .image {
    width: 50px;
    height: 50px;
  }
  .media-section {
    margin-top: 100px;
  }
  .text-block-3 {
    font-size: 1.2em;
  }
  .submit-button {
    opacity: 1;
  }
  .heading-5 {
    font-size: 1.7em;
  }
  .html-embed {
    width: 100%;
    height: 100%;
  }
  .heading-8 {
    width: 40%;
  }
  .div-block-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 220px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-17 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .discography-title-font {
    font-size: 1.8em;
  }
  .discography-inactive-text {
    font-size: 1.3em;
  }
  .discography-inactive-text.third-column {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1920px) {
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .nav-link {
    font-size: 1em;
  }
  .brand {
    width: 5%;
  }
  .container {
    display: block;
    width: auto;
    min-width: 100%;
  }
  .navbar-left-section {
    width: 50%;
  }
  .heading {
    margin-top: 100px;
    font-size: 5em;
  }
  .text-block {
    margin-top: 40px;
    font-size: 2em;
  }
  .nav-menu {
    width: 95%;
    height: 100%;
  }
  .media-section {
    margin-top: 40px;
  }
  .music-section {
    margin-top: -6px;
  }
  .music-section-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .music-page-container {
    width: 100vw;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div-block-8 {
    width: 0px;
  }
  .item-stream-symbol {
    -webkit-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
  }
  .item-stream-symbol:hover {
    opacity: 0.3;
  }
  .full-size-music-item {
    max-height: none;
    min-height: 10vh;
  }
  .div-block-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .music-navbar-item {
    font-size: 2em;
  }
  .div-block-12 {
    margin-top: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .music-container {
    width: 100%;
  }
  .discography-header {
    font-size: 1.4em;
  }
  .discography-title-font {
    font-size: 2em;
  }
  .discography-inactive-text {
    font-size: 1.6em;
  }
  .discography-inactive-text.third-column {
    font-size: 1.6em;
  }
  .discography-stream-icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 991px) {
  .nav-link {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #000;
    text-align: left;
  }
  .nav-link.w--current {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .brand {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-left-section {
    width: 90%;
  }
  .navbar-right-section {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: #000;
  }
  .menu-button {
    color: #853434;
  }
  .menu-button.w--open {
    background-color: #000;
    color: #fff;
  }
  .icon {
    color: #fff;
  }
  .home-first-section {
    height: 70vh;
    padding-left: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    border-style: none;
  }
  .home-second-section {
    padding-top: 20px;
  }
  .media-header {
    margin-top: 10px;
  }
  .nav-menu {
    background-color: #000;
  }
  .image {
    -webkit-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
    cursor: pointer;
  }
  .image:hover {
    opacity: 0.4;
  }
  .media-section {
    margin-top: 40px;
  }
  .music-section {
    color: #fff;
  }
  .music-section-wrapper {
    width: auto;
    min-width: 80%;
  }
  .music-page-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div-block-8 {
    width: 95%;
  }
  .div-block-12 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .div-block-13 {
    -ms-grid-columns: 2.5fr 1fr;
    grid-template-columns: 2.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .div-block-13.music-item {
    -ms-grid-columns: 2.5fr 1fr 1.5fr 1fr;
    grid-template-columns: 2.5fr 1fr 1.5fr 1fr;
  }
  .div-block-18 {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "Area-2 Area Area-3 Area-4";
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 0px auto 0px auto 0px auto;
    grid-template-rows: auto auto auto auto;
  }
  .discography-header {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
    font-size: 1em;
    font-weight: 300;
  }
  .heading-11 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
    font-size: 1em;
    font-weight: 300;
  }
  .heading-12 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
    font-size: 1em;
    font-weight: 300;
  }
  .discography-grid-item-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .discography-inactive-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
  }
  .image-8 {
    margin-right: 5px;
    margin-left: 5px;
  }
  .discography-stream-icon {
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .home-first-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    min-height: 70vh;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .half-left.half {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .half-left.half.first-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .half-right.half {
    width: 0%;
    padding-right: 0px;
  }
  .half-right.half.purchase {
    width: 100%;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .home-second-section {
    padding-top: 0px;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .nav-menu {
    background-color: #000;
  }
  .media-section {
    margin-top: 10px;
  }
  .image-2 {
    position: static;
    display: none;
    opacity: 1;
  }
  .music-section {
    padding-right: 40px;
    padding-left: 0px;
  }
  .music-section-wrapper {
    width: 100vw;
    min-width: auto;
  }
  .heading-2 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .music-page-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .music-header {
    font-size: 0.6em;
  }
  .div-block-13 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .div-block-13.music-item {
    -ms-grid-columns: 2.5fr 1fr;
    grid-template-columns: 2.5fr 1fr;
  }
  .div-block-14 {
    font-size: 1.3em;
  }
  .text-block-9 {
    font-size: 0.8em;
  }
  .text-block-10 {
    font-size: 0.6em;
  }
  .video-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .html-embed {
    width: 3110%;
  }
  .div-block-17 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-18 {
    grid-template-areas: ".";
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .discography-header {
    display: block;
    overflow: visible;
  }
  .discography-title-font {
    text-align: center;
  }
  .div-block-21 {
    height: auto;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 5em;
    margin-left: 0px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .menu-button {
    display: block;
  }
  .home-first-section {
    padding-bottom: 0px;
  }
  .half-left.half {
    padding-right: 10px;
    padding-left: 10px;
  }
  .half-left.half.first-section {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .half-right.half {
    width: 0%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-second-section {
    display: block;
    padding-top: 0px;
    padding-right: 2px;
    padding-left: 0px;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .heading {
    font-size: 2em;
  }
  .text-block {
    font-size: 0.6em;
  }
  .media-header {
    margin-top: 10px;
  }
  .nav-menu {
    color: #000;
  }
  .media-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-2 {
    opacity: 0;
  }
  .image-item {
    width: 100%;
    margin: 0px 0px 5px;
  }
  .music-section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .music-section-wrapper {
    width: 100%;
  }
  .heading-2 {
    margin-bottom: 20px;
  }
  .music-page-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .music-header {
    font-size: 0.5em;
  }
  .item-title {
    font-size: 0.9em;
  }
  .full-size-music-item {
    height: 70vh;
    min-height: 70px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-12 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .div-block-13 {
    -ms-grid-columns: 1.75fr 0.75fr 1fr 0.5fr;
    grid-template-columns: 1.75fr 0.75fr 1fr 0.5fr;
  }
  .div-block-13.music-item {
    -ms-grid-columns: 1.75fr 0.75fr 1fr 0.5fr;
    grid-template-columns: 1.75fr 0.75fr 1fr 0.5fr;
  }
  .div-block-14 {
    font-size: 1em;
  }
  .image-6 {
    width: 10px;
    margin-left: 5px;
  }
  .text-block-9 {
    font-size: 0.6em;
  }
  .video-item {
    overflow: hidden;
  }
  .image-7 {
    width: 10px;
  }
  .heading-8 {
    margin-top: 40px;
  }
  .heading-9 {
    text-align: center;
  }
  .div-block-18 {
    margin-left: 0px;
  }
  .discography-title-font {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.1em;
  }
  .discography-inactive-text {
    font-size: 0.9em;
  }
  .discography-inactive-text.third-column {
    font-size: 0.9em;
  }
  .heading-13 {
    font-size: 2em;
  }
  .div-block-22 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading-14 {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

#w-node-cdaad0ea4e90-042f4520 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-97ae1aec7402-042f4520 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Catamaran';
  src: url('../fonts/Catamaran-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}